body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #111827;
}

.griglia {
    display: grid;
    grid-template-areas:
        "header header"
        "nav filtro"
        "nav contenuto";
    grid-template-columns: 170px 1fr;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}

ol {
    list-style-type: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    float: left;
}

li a {
    display: block;
    color: #212529;
    text-align: center;
    position: relative;
    left: -10px;
    padding: 20px;
    width: 140px;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s ease;
    -webkit-transition:0.3s ease;
}

li a:hover, li a.active {
    color: #212529;
    padding: 20px 40px;
    font-weight: bolder;
    transition: all 0.3s;
    -webkit-transition:0.3s ease;
}

a {
    color: #212529;
}

a:hover {
    color: #F8F9FA;
}

h1 {
    font-size: 200%;
    color: #f6f8f9;
}

p3 {
    font-size: 22px;
    font-weight: bold;
}

.myInput {
    width: auto;
    position: relative;
    align-items: center;
    font-size: 18px;
    border-radius: 3px;
    margin-top: 10px;
}


hr {
    border: none;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
}

.invisible {
    background-color: #F8F9FA;
}


header {
    grid-area: header;
    background-color: #2F3C48;
}

nav {
    grid-area: nav;
    background-color: #F8F9FA;
}

.filtro {
    grid-area: filtro;
    background-color: #F8F9FA;
    padding: 15px;
    border: 1px solid #E5E7EB;
}

.contenuto {
    grid-area: contenuto;
    background-color: #fcfcfc;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid #E5E7EB;
    overflow-y: scroll;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0%;
    color: #F8F9FA;
    background-color: #2F3C48;
    padding: 20px;
}

tr th{
    padding: 0px 15px;
}

.invio {
    min-width: 180px;
    color: #fff;
    padding-top: 100px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #434f5a;
    background: #434f5a;
    margin-top: 10px;
  }
  .invio:hover {
    background: #fff;
    color: #434f5a
  }
.rigaPari { 
	background: #f7fbfc;
}
.rigaDispari {  
	background: #cadbee;
}
